
<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>CMS Dashboard</title>
<object th:include="/fragments/header :: cms-head" th:remove="tag" />
<script type="text/javascript" th:inline="javascript">
	
	var globleVar = null;
	$(document).ready(function(){
	    globleVar = [[${hosts}]];
	    var success =[[${issave}]]
	    if(success)
	    	alert("Menu & Submenu Saved Succesfully !");
	    for (var obj in globleVar) {
	    	$('<option>').val(globleVar[obj].id).text(globleVar[obj].hostName).appendTo('#hostId');
	    	
 		}
	});
	
	function getPages(item){
		var name = $("#hostId").find("option:selected").text();
		$('#childMenuId').empty();
		
 		$("#hostName").val(name);
			var url = "/cms-admin/admin/menu/get-page-list/" + item;
			var result = "";
			$.ajax({
						type : "GET",
						url : url,
						async : false,
						success : function(response) {
							var status = response['status'];
							if (status == 200) {
								result = response['data'];
								$('<option>').val("Please Select Page").text("Please Select Page").appendTo('#childMenuId');
								for (var obj in result) {
									
							    	$('<option>').val(result[obj].id).text(result[obj].pageName).appendTo('#childMenuId');
						 		}
						
							} else {
								showAlert("Error while fetching clients by industry.",
										"Error");
							}
						},
						failure : function() {
							showAlert("Error while fetching clients by industry",
									"Error");
							return;
						},
						error : function() {
							showAlert("Error while fetching industry details.", "Error");
							return;
						}
					});
			
		}
	
	function getParentdsMenuName(item){
		if(item==0){
			$('#parentsId').attr('disabled',true);
		}else{
			var hostId = $("#hostId").val();
			var url = "/cms-admin/admin/menu/get-menus-by-hostId/" + hostId;
			var result = "";
			$.ajax({
						type : "GET",
						url : url,
						async : false,
						success : function(response) {
							var status = response['status'];
							if (status == 200) {
								result = response['data'];
								//alert(result.length);
								if(result.length==0){
									//alert("no any menu of this host");
									$('#parentsId').attr('disabled',true);
								}else{
									result = response['data'];
									for (var obj in result) {
										//alert(result[obj].childPageName);
								    	$('<option>').val(result[obj].pageId).text(result[obj].childPageName).appendTo('#parentsId');
							 		}
									$('#parentsId').attr('disabled',false);
								}
							} else {
								showAlert("Error while fetching clients by industry.",
										"Error");
							}
						},
						failure : function() {
							showAlert("Error while fetching clients by industry",
									"Error");
							return;
						},
						error : function() {
							showAlert("Error while fetching industry details.", "Error");
							return;
						}
					});
		}
	}
	
	function getChildMenuName(){
		var name = $("#childMenuId").find("option:selected").text();
		$("#childMenuName").val(name);
	}
	
	function getParentsMenuName(){
		var name = $("#parentsId").find("option:selected").text();
		$("#parentsMenuName").val(name);
	}
	
	
</script>

</head>
<body>
<body style="background-color:#fff; ">
	<div class="main-wrapper">
		<div class="" id="app">
			<div th:replace="/fragments/component :: cms-header" />
				<div class="container">
					<div style="margin-top: 50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					
					<div class="panel panel-info">
						<div class="panel-heading" >
							<!-- <div id="loginbox" style="margin-top: 50px;" class=""> -->
								<div class="panel-title" style="color: black;"><b>Mange Menu</b></div>
								<div
									style="float: right; font-size: 80%; position: relative; top: -10px">
								</div>
						</div>
						<div style="padding-top: 30px" class="panel-body">							
							<div style="display: none" id="login-alert"
								class="alert alert-danger col-sm-12"></div>
							
								<form id="siteform" method="POST" th:action="@{/admin/menu/save}"
					data-parsley-validate class="form-horizontal">
								
										<div class="col-sm-3 mb20px">
												<label style="color: black;">Host</label>
											</div>
										<div class="col-sm-6 mb20px">
												<select class="form-control" id="hostId"
													name="hostId" onchange="getPages(this.value);">
													<option>Select host</option>
												</select> <input type="hidden" name="hostName" id="hostName">
										</div>
										
										<div class="clearfix"></div>
										
										<div class="col-sm-3 mb20px">
											<label style="color: black;">Pages Name</label>
										</div>
										<div class="col-sm-6 mb20px">
											<select class="form-control"
												id="childMenuId" name="childMenuId"
												onChange="getChildMenuName()">
												<option>Select Pages</option>
											</select> <input type="hidden" name="childMenuName" id="childMenuName">
										</div>
										
										<div class="clearfix"></div>
										
										<div class="col-sm-3 mb20px">
											<label style="color: black;">Menu types</label>
										</div>
										<div class="col-sm-6 mb20px">
											<select class="form-control"
													onChange="getParentdsMenuName(this.value);">
													<option value="0">is Menu</option>
													<option value="1">is Submenu</option>
												</select>
										</div>
										
										<div class="clearfix"></div>
										<div class="col-sm-3 mb20px">
											<label style="color: black;">Select Parents</label>
										</div>
										<div class="col-sm-6 mb20px">
											<select class="form-control"
													disabled id="parentsId" name="parentsId"
													onchange="getParentsMenuName();">
													<option>Select parents menu</option>
												</select> <input type="hidden" name="parentsMenuName"
													id="parentsMenuName">
										</div><div class="clearfix"></div>
										<div class="col-sm-12 mb20px">
											<div class="form-group">
												<div class="col-md-12 control">
													<div style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
															<button class="btn btn-primary" >Apply</button>
													</div>
												</div>
											</div>
										</div>
								
									
								</form>
							
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
	<!-- <div th:replace="/fragments/header :: cms-footer" /> -->
</body>
</html>

