
<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>CMS Page List</title>
<object th:include="/fragments/header :: cms-head" th:remove="tag" />
</head>
<body>
<body>
	<div class="main-wrapper">
		<div class="app" id="app">
			<div th:replace="/fragments/component :: cms-header" />
			<div class="container">
            <h2>Page</h2>
            <br>
            <div class="row">
            	<div class="col-sm-4">
            	<form class="form">
				  <div class="form-group">
				    <input type="text" class="form-control ui-autocomplete-input" id="searchByHostName" placeholder="Search" autocomplete="off">
				    <button type="submit" class="btn btn-default">Search</button>
				  </div>						  
				</form>
            	</div>
            	<div class="col-sm-8 text-right">
            	<a class="btn btn-default" href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add Page</a>
            	</div>
            </div>
            
            <div class="table-responsive">
				<table id="tabvccTable" class="table datatable table-fixed tablefix-four-column">
					<thead>
						<tr>
							<th>Page Name</th>
							<th>Page URL</th>
							<th>Modify Date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:onclick="'javascript:rowClicked(\'' + ${page.id} + '\');'" th:if="${page != null }" th:each="page : ${pages}">
							<td th:if="${page.pageName != null }" th:text="${page.pageName}"></td>
							<td th:if="${page.pageURL != null }" th:text="${page.pageURL}"></td>
							<td></td>
							<td th:if="${page.templateContent != null }" >
								<a class="btn btn-default btn-xs" th:href="@{/admin/page/pageedit/}+${page.id}" data-toggle="tooltip" title="edit host">
								<i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>

								<a class="btn btn-default btn-xs" th:href="@{/admin/page/pageview/}+${page.id}" data-toggle="tooltip" title="view templet">
								<i class="fa fa-eye" aria-hidden="true"></i> View</a>
								
								<!-- <a class="btn btn-default btn-xs" th:href="@{/admin/templet/}+${page.id}" data-toggle="tooltip" title="delete">
								<i class="fa fa-trash" aria-hidden="true"></i> Delete</a> -->
								
							</td>
						</tr>
					<tbody>
					
				</table>
				<div class="clearfix"></div>
			</div>
				
			</div>
			
			</div>
		</div>
	</div>
	 <!-- <div th:replace="/fragments/header :: cms-footer" /> -->
</body>
</html>


<!-- <!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>CMS Dashboard</title>
<object th:include="/fragments/header :: cms-head" th:remove="tag" />
</head>
<body>
<body>
	<div class="main-wrapper">
		<div class="app" id="app">
			<div th:replace="/fragments/component :: cms-header" />
			<div>
				<div id="loginbox" style="margin-top: 50px;" class="">
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="panel-title">Pages</div>
							<div
								style="float: right; font-size: 80%; position: relative; top: -10px">
								
								<div id="navbarCollapse" class="collapse navbar-collapse"
									style="margin-top: -17px;" th:fragment="add-select-control">
									<ul class="nav navbar-nav">
										<li class="dropdown"><a data-toggle="dropdown"
											class="dropdown-toggle" href="#">Add New <b class="caret"></b></a>
											<ul role="menu" class="dropdown-menu">
												<li><a th:href="@{/admin/page/newpage}">Page</a></li>
											</ul></li>
									</ul>
								</div>
							</div>
							<div
								style="float: right; font-size: 80%; position: relative; top: -10px">
							</div>
						</div>

						<div style="padding-top: 30px" class="panel-body">

							<div style="display: none" id="login-alert"
								class="alert alert-danger col-sm-12"></div>

							<div class="table-responsive">
								<table id="tabvccTable"
									class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Page Name</th>
											<th>Page URL</th>
											<th>Page View</th>
										</tr>
									</thead>
									<tbody>
										<tr th:onclick="'javascript:rowClicked(\'' + ${page.id} + '\');'" th:if="${page != null }" th:each="page : ${pages}">
											<td th:if="${page.pageName != null }" th:text="${page.pageName}"></td>
											<td th:if="${page.pageURL != null }" th:text="${page.pageURL}"></td>
											<td th:if="${page.templateContent != null }" >
												<a th:href="@{/admin/page/pageview/}+${page.id}" class="btn btn-sm btn-success">page-view</a>
											</td>
										</tr>
									<tbody>
								</table>
								  </div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <div th:replace="/fragments/header :: cms-footer" />
</body>
</html> -->