<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>New Site</title>
<object th:include="/fragments/header :: cms-head" th:remove="tag" />
<script type="text/javascript" th:inline="javascript">
	var cnt = 0;
	$(document).ready(function() {
	    var hosts = [[${hosts}]];
		var list = document.getElementById("hostid-select");
		for(var i in hosts) {
		  list.add(new Option(hosts[i].hostName, hosts[i].id));
		}
		
		 $('#column-no').keyup(
		    function() {
		        var value = document.getElementById('column-no').value;
		        var mainDiv = document.getElementById('columnspanel');
		    	$(mainDiv).empty();
		    	for(var i=1;i<=value;i++){
		    		var id = i.concat(value);
		    		var lDiv = document.createElement('div');
		    		lDiv.className = 'col-sm-4';
		    		lDiv.innerHTML = "<input id='width_"+id+"' type='text' class='form-control' name='width_"+id+"' placeholder='Width (%)' onkeypress='javascript:return isNumberKey(event);'>";
		    		
		    		mainDiv.appendChild(lDiv);	
		    		$("#columnspanel").css("display", "block");
		    	}
		 });
		
		$('#body-check').change(function() {
			if ($(this).is(':checked')) {
				$("#bodypane").css("display", "block");
			} else {
				$("#bodypane").css("display", "none");
			}
		});

		$('#heropanel-check').change(function() {
			if ($(this).is(':checked')) {
				$("#heropanel").css("display", "block");
			} else {
				$("#heropanel").css("display", "none");
			}
		});
		
		$('#herocontent-check').change(function() {
			if ($(this).is(':checked')) {
				$("#imagetype-select").css("display", "block");
			} else {
				$("#imagetype-select").css("display", "none");
			}
		});

		$('.tab').click(function() {
			var ativetab = $(this).attr('id');
			if (ativetab == 'tab2') {

			}
		});
	});

	function fillHostId(sel) {
	}
	
</script>

<script>
function getImageType(sel) {
	
	var mainDiv = document.getElementById('imageuploadpane');
	$(mainDiv).empty();
	
	var lDiv = document.createElement('div');
	lDiv.className = 'row';
	lDiv.style.cssText = 'padding: 10px';
	
	if(sel.value == '0'){
		$("#imageno-select").css("display", "none");
		$("#imageuploadpane").css("display", "none");
	}else if(sel.value == '1'){
		$("#imageno-select").css("display", "none");
		$("#imageuploadpane").css("display", "block");
		lDiv.innerHTML = "<input id='image"+0+ "' type='file' class='form-control' name='image"+0+ "'>";
		mainDiv.appendChild(lDiv);
	}else if(sel.value == '2'){
		$("#imageuploadpane").css("display", "block");
		$("#imageno-select").css("display", "block");
	}
}

function getImageNo(sel) {
	
	var mainDiv = document.getElementById('imageuploadpane');
	$(mainDiv).empty();
	for(var i=0;i<sel.value;i++){
		
		var rowDiv = document.createElement('div');
		rowDiv.className = 'row';
		
		var lDiv = document.createElement('div');
		lDiv.className = 'col-sm-2';
		rowDiv.appendChild(lDiv);
		
		var rDiv = document.createElement('div');
		rDiv.className = 'col-sm-8';
		rDiv.innerHTML = "<input id='image"+i+ "' type='file' class='form-control' name='image_'"+i+ "'>";
		rowDiv.appendChild(rDiv);
		
		mainDiv.appendChild(rowDiv);
	}
}

function getRowType(sel) {
	var mainDiv = document.getElementById('rowspanel');
	$(mainDiv).empty();
	for(var i=0;i<sel.value;i++){
		var lDiv = document.createElement('div');
		lDiv.className = 'col-sm-4';
		lDiv.innerHTML = "<input id='height"+i+ "' type='text' class='form-control' name='height"+i+ "' placeholder='Height (%)' onkeypress='javascript:return isNumberKey(event);'>";
		
		mainDiv.appendChild(lDiv);	
		$("#rowspanel").css("display", "block");
	}
}

/* function getColumnType(sel) {
	var mainDiv = document.getElementById('columnspanel');
	$(mainDiv).empty();
	for(var i=0;i<sel.value;i++){
		var lDiv = document.createElement('div');
		lDiv.className = 'col-sm-4';
		lDiv.innerHTML = "<input id='width"+i+ "' type='text' class='form-control' name='width"+i+ "' placeholder='Width (%)' onkeypress='javascript:return isNumberKey(event);'>";
		
		mainDiv.appendChild(lDiv);	
		$("#columnspanel").css("display", "block");
	}
}
 */

function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>
</head>
<body>
	<div class="main-wrapper">
		<div class="app" id="app">
			<i th:replace="/fragments/component :: cms-header"></i>
			<div class="container">
				<div id="create-site" style="margin-top: 50px;"
					class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="panel-title">Create New Templet</div>
							<div
								style="float: right; font-size: 80%; position: relative; top: -10px">
							</div>
						</div>

						<div style="padding-top: 30px" class="panel-body">

							<div style="display: none" id="login-alert"
								class="alert alert-danger col-sm-12"></div>

							<form id="templetform" method="POST"
								th:action="@{/admin/templet/savenewtemplet}"
								data-parsley-validate class="form-horizontal">
								<input type="hidden" name="id" id="id" />
								<DIV class="row" style="padding: 10px;"></DIV>

								<DIV id="body-column-select_0">
									<div class="row" style="padding: 10px" id="hostidrow">
										<div class="col-sm-4"><label class="form-check-label">Host Id:</label></div>
										<div class="col-sm-6">
											<select class="selectpicker form-control" id="hostid-select"
												name="hostId" onchange="fillHostId(this);">
												<option value="0">Select</option>
											</select>
										</div>
									</div>
								</DIV>
								
								<DIV class="row" style="padding: 10px;">
									<div class="col-sm-4"><label class="form-check-label">Templet Name</label></div>
									<div class="col-sm-6">
										<div class="input-group">
											<input id="templet-name" type="text" class="form-control"
												name="templetName" placeholder="Templet Name">
										</div>
									</div>
								</DIV>
								
								<DIV class="row" style="padding: 10px;">
									<div class="col-sm-4">
										<label class="form-check-label">Description </label>
									</div>
									<div class="col-sm-6">
										<input id="description" type="text" class="form-control"
											name="description" placeholder="Description">
									</div>
								</DIV>
								<DIV class="row" style="padding: 10px;">
									<div class="col-sm-4">
										<label class="form-check-label">Header Id : </label>
									</div>
									<div class="col-sm-6">
										<select class="selectpicker form-control" id="headerid"
											name="headerId" onchange="">
											<option value="0">Select</option>
											<option value="Header 1">Header 1</option>
											<option value="Header 2">Header 2</option>
											<option value="Header 3">Header 3</option>
										</select>
									</div>
								</DIV>
								<DIV class="row" style="padding: 10px;">
									<div class="col-sm-4">
										<label class="form-check-label">Footer Id : </label>
									</div>
									<div class="col-sm-6">
										<select class="selectpicker form-control" id="footerid"
											name="footerId" onchange="">
											<option value="0">Select</option>
											<option value="Footer 1">Footer 1</option>
											<option value="Footer 2">Footer 2</option>
											<option value="Footer 3">Footer 3</option>
										</select>
									</div>
								</DIV>
								<DIV class="row" style="padding: 10px;">
									<div class="col-sm-4">
										<label class="form-check-label">Hero Panel </label>
									</div>
									<div class="col-sm-4">
										<input id="heropanel-check" class="form-check-input"
											type="checkbox" value="" checked="checked" />
									</div>
								</DIV>
								<div id="heropanel" style="display: none;padding:10px; border: 1px solid;border-color: #dddddd">
									<DIV class="row">
										<div class="col-sm-4">
											<input id="height" type="text" class="form-control"
												name="heroheight" placeholder="Height (%)" onkeypress="javascript:return isNumberKey(event);">
										</div>
										<div class="col-sm-4">
											<input id="width" type="text" class="form-control"
												name="herowidth" placeholder="Width (%)" onkeypress="javascript:return isNumberKey(event);">
										</div>
									</DIV>
									<DIV class="row" style="padding: 10px;">
										<div class="col-sm-4">
											<label class="form-check-label">Content : </label>
										</div>
										<div class="col-sm-4">
											<input id="herocontent-check" class="form-check-input"
												type="checkbox" value="" checked="checked" />
										</div>
									</DIV>
									<DIV class="row" style="padding: 10px;display: none;" id="imagetype-select">
										<div class="col-sm-4">
											<label class="form-check-label">Image Type : </label>
										</div>
										<div class="col-sm-6">
											<select class="selectpicker form-control" id="imageType"
												name="imageType" onchange="getImageType(this);">
												<option value="0">Select</option>
												<option value="1">Single</option>
												<option value="2">Multiple</option>
											</select>
										</div>
									</DIV>
									<DIV class="row" style="padding: 10px;display: none;" id="imageno-select">
										<div class="col-sm-4">
											<label class="form-check-label">No of Image : </label>
										</div>
										<div class="col-sm-6">
											<select class="selectpicker form-control" id="imageNo"
												name="imageNo" onchange="getImageNo(this);">
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
											</select>
										</div>
									</DIV>
									<DIV class="row" style="padding: 10px; display: none;"
										id="imageuploadpane">
									</DIV>
									<DIV class="row" style="padding: 10px; display: none;"
										id="animation-select">
										<div class="row">
											<div class="col-sm-4">
												<label class="form-check-label">Animation Type : </label>
											</div>
											<div class="col-sm-6">
											<select class="selectpicker form-control" id="imageType"
												name="animationType" onchange="">
												<option value="0">Select</option>
												<option value="1">Animation 1</option>
												<option value="2">Animation 2</option>
											</select>
										</div>
										</div>
									</DIV>
								</div>
								<DIV class="row" style="padding: 10px;">
									<div class="col-sm-4">
										<label class="form-check-label">Body </label>
									</div>
									<div class="col-sm-4">
										<input id="body-check" class="form-check-input"
											type="checkbox" value="" checked="checked" />
									</div>
								</DIV>
								<DIV id="bodypane" style="display: none;padding:10px; border: 1px solid;border-color: #dddddd">
									<DIV class="row" style="padding: 10px;">
										<div class="col-sm-4">
											<label class="form-check-label">Rows :</label>
										</div>
										<div class="col-sm-6">
											<select class="selectpicker form-control" id="rows"
												name="rows" onchange="getRowType(this);">
												<option>Select</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
											</select>
										</div>
									</DIV>

									<DIV class="row" style="padding: 10px; display: none;"
										id="rowspanel"></DIV>

									<DIV class="row" style="padding: 10px;">
										<div class="col-sm-4">
											<label class="form-check-label">Columns :</label>
										</div>
										<div class="col-sm-4">
											<select class="selectpicker form-control" id="columns"
												name="columns" onchange="getColumnType(this);">
												<option>Select Row</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
											</select>
										</div>
										<div class="col-sm-4">
											<input id="column-no" type="text" class="form-control"
												name="column-no" placeholder="No of Column" onkeypress="javascript:return isNumberKey(event);">
										</div>
									</DIV>
									<DIV class="row" style="padding: 10px; display: none;"
										id="columnspanel"></DIV>
								</DIV>
								<DIV class="form-group">
									<div class="col-md-4 control">
										<input type="submit" class="btn btn-success" value="Save"
											id="savetemplet" />
									</div>
								</DIV>
							</form>
						</div>
						
						<!-- 	<article style="width: 60%;float: left;">
										<div id="templettext">
											<form action="">
												<input type="hidden" id="selected-container" value="">
												<div id="preview">
													<div id="header" class='div_style templet_style'
														style="width: 100%">
														<h1>Header</h1>
													</div>

													<div id="body-content" class='div_style templet_style' style="width: 100%">
														
													</div>
										
													<div id="footer"
														class='div_style templet_style'
														style="width: 100%">
														<h1>Footer</h1>
													</div>
												</div>
											</form>
										</div>
									</article> -->
					</div>

					<div class="tab-pane" id="2">
						<!-- <div id="templettext">
										<form action="">
											<input type="hidden" id="selected-container" value="">
											<div id="preview" class="container">
												
												<div id="preview-header">
													<i th:replace="/fragments/header :: preview-header"></i>
												</div>
												
												<div id="preview-body-content" style="min-height: 400px;height: 70%">
													
												</div>
												
												<div id="preview-footer">
													 <i th:replace="/fragments/header :: preview-footer" ></i>
												</div>
												<div id="preview-footer">
													 <i th:replace="/fragments/component :: footer" ></i>
												</div>
											</div>
										</form>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div th:replace="/fragments/component :: cms-footer" />
 --></body>
</html>