
<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>CMS Dashboard</title>
<object th:include="/fragments/header :: cms-head" th:remove="tag" />

<script type="text/javascript" th:inline="javascript">
		var myIndex = 0;
		var images = [];
		$(document)
				.ready(
						function() {
							images = [];
							
							var template = [[${template}]];
							var host = [[${host}]];
							
							
							$('#host-name').val(host.hostName);
							$('#host-id').val(host.id);
							
							$('#body-content').append(template.templetContent);

							$('#header-check')
									.change(
											function() {
												if ($(this).is(':checked')) {
													$("#header").css("display",
															"block");
													document
															.getElementById('isContainsHeader').value = "1";
												} else {
													$("#header").css("display",
															"none");
													document
															.getElementById('isContainsHeader').value = "0";
												}
											});
							$('#footer-check')
									.change(
											function() {
												if ($(this).is(':checked')) {
													$("#footer").css("display",
															"block");
													document
															.getElementById('isContainsFooter').value = "1";
												} else {
													$("#footer").css("display",
															"none");
													document
															.getElementById('isContainsFooter').value = "0";
												}
											});
							$('#heropanel-check')
									.change(
											function() {
												if ($(this).is(':checked')) {
													$("#imagetype-select").css(
															"display", "block");
													document
															.getElementById('isContainsFooter').value = "1";
												} else {
													$("#imagetype-select").css(
															"display", "none");
													document
															.getElementById('isContainsFooter').value = "0";
												}
											});

							$('.tab')
									.click(
											function() {

												for(var i=0;i<images.length;i++){
													//document.getElementById('sliderimg').getElementsByTagName('img')[i].src = images[i];
													document.getElementById('preview-sliderimg').getElementsByTagName('img')[i].src = images[i];
												}
												
												carousel();
												var ativetab = $(this).attr(
														'id');
												if (ativetab == 'tab2') {

													if ($("#header-check").is(
															':checked')) {
														$("#preview-header")
																.css("display",
																		"block");
													} else {
														$("#preview-header")
																.css("display",
																		"none");
													}

													if ($("#footer-check").is(
															':checked')) {
														$("#preview-footer")
																.css("display",
																		"block");
													} else {
														$("#preview-footer")
																.css("display",
																		"none");
													}

													if ($("#heropanel-check")
															.is(':checked')) {
														$("#preview-heropanel")
																.css("display",
																		"block");
													} else {
														$("#preview-heropanel")
																.css("display",
																		"none");
													}

													var html = document
															.getElementById('body-content').innerHTML;
													var jHtmlObject = jQuery(html);
													var editor = jQuery("<p>")
															.append(jHtmlObject);
													editor
															.find(
																	"#lsb-add-container,#rsb-add-container")
															.remove();
													editor
															.find(
																	".addremoveDiv")
															.remove();
													editor
															.find(
																	"#leftside,#rightside")
															.removeClass(
																	"templet_style");
													editor.find(
															"[id^=container]")
															.css("border",
																	"none");
													editor
															.find(
																	"#leftside,#rightside")
															.css("border",
																	"none");


													var newHtml = editor.html();
													$("#preview-body-content")
															.html(newHtml);

													document
															.getElementById('templetcontent').value = newHtml;
												}
											});

							$("#templetform")
									.on(
											"submit",
											function() {
												
												document
														.getElementById('templetcontent').value = document
														.getElementById('preview-heropanel').innerHTML+document
														.getElementById('body-content').innerHTML;
											})
						});
		
	</script>

</head>
<body style="background-color: #3B8FAD;">
	<div class="main-wrapper">
		<div class="app" id="app">
			<i th:replace="/fragments/component :: cms-header"></i>

			<div class="">
				<div id="loginbox">
					<div class="panel panel-info" style="background-color: #81C5DC">
						<div class="panel-heading" style="background-color: #67B6D2">
							<div class="panel-title" style="color: white;">Create New
								Templets</div>
							<div
								style="float: right; font-size: 80%; position: relative; top: -10px">
							</div>
						</div>
						<div id="exTab2" class="">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#1" data-toggle="tab"
									class="tab" id="tab1"> Templet</a></li>
								<li><a href="#2" data-toggle="tab" class="tab" id="tab2">Preview</a></li>
							</ul>

							<div class="tab-content ">
								<div class="tab-pane active" id="1">
									<aside class="sidebar" style="width: 25%; float: left;">
										<div style="" class="panel-body">

											<div style="display: none" id="login-alert"
												class="alert alert-danger col-sm-12"></div>

											<form id="templetform" method="POST"
												th:action="@{/admin/templet/update}" enctype="multipart/form-data" th:object="${template}"
												data-parsley-validate class="form-horizontal">
												<input type="hidden" name="id" id="id" th:field="*{id}"/> <input
													type="hidden" name="isContainsHeader" id="isContainsHeader"
													value="1" /> <input type="hidden" name="isContainsFooter"
													id="isContainsFooter" value="0" /> <input type="hidden"
													id="templetcontent" name="templetContent">
												<DIV class="row" style="padding: 10px;"></DIV>
												<DIV id="body-column-select_0">
													<div class="row" style="padding: 10px" id="hostidrow">
														<div class="col-sm-4" style="color: white;">Host Id</div>
														<div class="col-sm-6">
														<input id="host-name" type="text" class="form-control"
																name="hostName" disabled="disabled"/>
																<input id="host-id" type="hidden" class="form-control"
																name="hostId" />
														</div>
													</div>
												</DIV>
												<DIV class="row" style="padding: 10px;">
													<div class="col-sm-4" style="color: white;">Name</div>
													<div class="col-sm-8">
														<div class="input-group">
															<input id="templet-name" type="text" class="form-control"
																name="templetName" placeholder="templet name" required onblur="checktempletname()" th:field="*{templetName}"/>
																<span id="namealert"></span>
														</div>
													</div>
												</DIV>
												<DIV class="row" style="padding: 10px;">
													<div class="col-sm-4" style="color: white;">Description</div>
													<div class="col-sm-8">
														<div class="input-group">
															<input id="description" type="text" class="form-control"
																name="description" placeholder="templet description" required  th:field="*{description}"/>
														</div>
													</div>
												</DIV>
												<DIV id="body-column-select_0">
													<div class="row" style="padding: 10px" id="bodyrow">
														<div class="col-sm-4" style="color: white;">Body Rows</div>
														<div class="col-sm-8">
															<select class="selectpicker form-control"
																id="bodyrow-select" name="bodyColumn"
																onchange="gettemplettype(this);">
																<option value="1">1 Column (100)</option>
																<option value="2">2 Column (50/50)</option>
																<option value="3">2 Column (66/33)</option>
																<option value="4">2 Column (33/66)</option>
															</select>
														</div>
													</div>
												</DIV>

												<DIV class="row" style="padding: 10px;">
													<div class="col-sm-4" style="color: white;">Hero Panel</div>
													<div class="col-sm-4">
														<input id="heropanel-check" class="form-check-input"
															type="checkbox" value="" checked="checked"/>
													</div>
												</DIV>
												<DIV class="row" style="padding: 10px; display: none;"
													id="imagetype-select">
													<div class="col-sm-4" style="color: white;">Image Type :</div>
													<div class="col-sm-6">
														<select class="selectpicker form-control" id="imageType"
															name="imageType" onchange="getImageType(this);">
															<option value="0">Select</option>
															<option value="1">Single</option>
															<option value="2">Multiple</option>
														</select>
													</div>
												</DIV>
												<DIV class="row" style="padding: 10px; display: none;"
													id="imageno-select">
													<div class="col-sm-4" style="color: white;">No of Image :</div>
													<div class="col-sm-6">
														<select class="selectpicker form-control" id="imageNo"
															name="imageNo" onchange="getImageNo(this);">
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
														</select>
													</div>
												</DIV>
												<DIV class="row" style="padding: 10px; display: none;"
													id="imageuploadpane"></DIV>

												<DIV class="row" style="padding: 10px;">
													<div class="col-sm-4" style="color: white;">Header</div>
													<div class="col-sm-4">
														<input id="header-check" class="form-check-input"
															type="checkbox" value="" checked="checked"/>
													</div>
												</DIV>
												<DIV class="row" style="padding: 10px;">
													<div class="col-sm-4" style="color: white;">Footer</div>
													<div class="col-sm-4">
														<input id="footer-check" class="form-check-input"
															type="checkbox" value="" checked="checked"/>
													</div>
												</DIV>
												<DIV class="form-group">
													<div class="col-md-4 control">
														<input type="submit" class="btn btn-success" value="Update"
															id="savetemplet" />
														<!-- div id="savetemplate" class="btn btn-success">Save
														</div> -->
													</div>
												</DIV>
											</form>
										</div>
									</aside>
									<article style="width: 70%; float: left;">
										<div id="templettext">
											<form action="">
												<input type="hidden" id="selected-container" value="">
												<div id="preview">
													<div id="header" class='div_style templet_style'
														style="width: 100%">
														<h1>Header</h1>
													</div>
													<div id="heropanel" class='div_style templet_style'
														style="width: 100%">
														<div id="singleimg" style="display: none;">
															<img id="img" src="#" alt="your image" width="100%"
																height="100px" />
														</div>
													</div>
													<div id="body-content" class='div_style templet_style'
														style="width: 100%; margin: 0px;"></div>

													<div id="footer"
														class='div_style templet_style templet_style'
														style="width: 100%">
														<h1>Footer</h1>
													</div>
												</div>
											</form>
										</div>
									</article>
								</div>

								<div class="tab-pane" id="2">
									<div id="templettext">
										<form action="">
											<input type="hidden" id="selected-container" value="">
											<div id="preview" class="container">

												<div id="preview-header">
													<i th:replace="/fragments/header :: preview-header"></i>
												</div>
												<div id="preview-heropanel">
													<div id="preview-singleimg" style="display: none;">
														<img id="preview-img" src="#" alt="your image"
															width="100%" height="100px" />
													</div>
													<div class="w3-content w3-section" id="preview-sliderimg"
														style="max-height: 150px; display: none;">
														<img class="mySlides"
															th:src="@{/resources/assets/images.png}"
															style="width: 100%; height: 100px"> <img
															class="mySlides" th:src="@{/resources/assets/images.png}"
															style="width: 100%; height: 100px"> <img
															class="mySlides" th:src="@{/resources/assets/images.png}"
															style="width: 100%; height: 100px"><img
															class="mySlides" th:src="@{/resources/assets/images.png}"
															style="width: 100%; height: 100px">
													</div>
												</div>
												<div id="preview-body-content"
													style="min-height: 400px; height: 70%"></div>

												<div id="preview-footer">
													<i th:replace="/fragments/component :: preview-footer"></i>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div th:replace="/fragments/component :: myModal" />
								<div th:replace="/fragments/component :: contentModal" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div th:replace="/fragments/header :: cms-footer" />  -->
</body>

<!-- <body style="background-color:#3B8FAD; ">
	<div class="main-wrapper">
		<div class="app" id="app">
			<i th:replace="/fragments/component :: cms-header"></i>
			<div class="container">
				<div id="create-site" style="margin-top: 50px;"
					class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-info">
						<div class="panel-heading" style="background-color: #67B6D2">
							<div class="panel-title" style="color: white;">Update Templet</div>
							<div
								style="float: right; font-size: 80%; position: relative; top: -10px">
							</div>
						</div>

						<div style="padding-top: 30px" class="panel-body">

							<div style="display: none" id="login-alert"
								class="alert alert-danger col-sm-12"></div>

							<form id="templetform" method="POST"
								th:action="@{/admin/templet/updateTemplet}"
								data-parsley-validate class="form-horizontal">
								<input type="hidden" name="id" id="id" th:value="${templet.id}" />
								<input type="hidden" name="isContainsHeader"
									id="isContainsHeader" value="1" /> <input type="hidden"
									name="isContainsFooter" id="isContainsFooter" value="0" /> <input
									type="hidden" id="templetcontent" name="templetContent">
								<DIV class="row" style="padding: 10px;"></DIV>
									<DIV id="body-column-select_0">
													<div class="row" style="padding: 10px" id="hostidrow">
														<div class="col-sm-4">Host Id</div>
														<div class="col-sm-6">
															<select class="selectpicker form-control"
																id="hostid-select" name="hostId"
																onchange="fillHostId(this);">
																<option value="0">Select</option>
															</select>
														</div>
													</div>
												</DIV>
								<DIV class="row" style="padding: 10px;">
									<div class="col-sm-4">Name</div>
									<div class="col-sm-8">
										<div class="input-group">
											<input id="templet-name" type="text" class="form-control"
												name="templetName" th:value="${templet.templetName}" />
										</div>
									</div>
								</DIV>
								<DIV class="row" style="padding: 10px;">
									<div class="col-sm-4">Description</div>
									<div class="col-sm-8">
										<div class="input-group">
											<input id="description" type="text" class="form-control"
												name="description" th:value="${templet.description}" />
										</div>
									</div>
								</DIV>
								<DIV class="form-group">
									<div class="col-md-4 control">
										<input type="submit" class="btn btn-success" value="Update"
											id="updatetemplet" />
									</div>
								</DIV>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="/fragments/component :: cms-footer" />
</body> -->
</html>